/* signup  */

._authCard {
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0px 2px 20px #000;
}

._myInput {
    padding-top: 10px;
}

.input-field input:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

.input-field label {
    color: #000 !important;
}

.input-field input:focus+label {
    color: #000 !important;
}

.eye {
    position: absolute;
    top: 38%;
    right: 2%;
}

.eye:hover {
    cursor: pointer;
}